/* google font */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
 :root {
  --error: #e7195a;
}
::placeholder {
  font-style: italic;
  padding: 3px;
}
#root{
  margin: 0;
  padding: 0;
  position: relative;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}
::-webkit-scrollbar {
  width: 0px;
  display: none;
}
body {
   background: #e1e7ee; 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


header {
  background-color: rgb(110, 78, 217);
  position: sticky;
  top: 0px;
  left:0;
  z-index: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.container {
  width: 96vw; 
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
}

.pages , .myBlogs{
  /* max-width: 100vw; */
  padding-top: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* homepage */
 .home , .myBlogs {
  display: grid;
  justify-items: center;
  gap: 1vw;
  overflow: hidden;
  flex-wrap: wrap;
} 

label,input {
  display: block;
  font-size: 15px;
  padding: 3px;
}

form input {
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
  font-family: "Poppins";
}

 form button{
  /* margin-left: 100px; */
  background: #525FE1;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}
nav button{
  background: #525FE1;
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
  overflow: hidden;
    margin-top: 8px;
    font-family: "Poppins";
}

form .btn:hover,nav button:hover {
  background: #4f81d0;
  background-image: -webkit-linear-gradient(top, #534fd0, #1073ad);
  background-image: -moz-linear-gradient(top, #534fd0, #1073ad);
  background-image: -ms-linear-gradient(top, #534fd0, #1073ad);
  background-image: -o-linear-gradient(top, #534fd0, #1073ad);
  background-image: linear-gradient(to bottom, #534fd0, #1073ad);
  text-decoration: none;
  color: #fff;
}



div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error{
  border:1px solid var(--error)
} 
form.signup ,form.login{
 font-family: "Poppins";
  width: 350px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
}
.signup button , .login button{
  margin-top:10px;
  margin-left: 90px;
  width: 150px;
  padding: 0px;
  font-weight: 300;
  /* height: 50px; */
  
}
.login button h1 , .signup button h1{
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  font-family: "Poppins";
  font-weight: 400;
}
a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  
}
.container .navlink a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(46, 44, 44);
  font-weight: 500;
  margin: 0 20px 0 0;
  position: relative;
  font-family: "Poppins";
}

.container .navlink a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
  content: '';
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}
.container .navlink a:hover:before {

  opacity: 1;
}
a img{
  height:60px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.links {
  padding: 10px;
  padding-left: 20px;
  background-color: rgb(110, 78, 217);

}
header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  margin: 0 20px 0 0;
  position: relative;
  font-family: "Poppins";
}

header .links a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: '';
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}


header .links a:hover:before {
  opacity: 1;
}
.blog-details , .blog-detail {
  text-transform: capitalize;
  background: #fff;
  border-radius: 3%;
  margin: 20px 20px;
  padding: 20px;
  position: relative;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.05);
  /* width: 800px; */
  /* height: 200px; */
  width: 50vw;
 
}
.blog-detail{
  height:auto;
}
.blog-details h3 {
  margin:  0 8px 0;
  font-size: 1.5em;
  color: #525FE1;
}

.blog-details  .content{
  margin: 0 8px 0;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 8px;
  overflow: hidden;
}
.blog-details p{
  margin: 0 8px 0;
  font-size: 1.2rem;
}
.modal button{
  background: #fff;
    color: #525FE1;
    border: 2px solid #525FE1;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 3px;
    margin-top: 12px;
    margin-left: 8px;
    
} 
 .modal button:hover {
  background: #4f81d0;
  background-image: -webkit-linear-gradient(top, #534fd0, #1073ad);
  background-image: -moz-linear-gradient(top, #534fd0, #1073ad);
  color: white
}
.text h3 {
  margin: 0 8px 0;
  font-size: 1.5em;
  color: #080202;
}
@media (max-width: 1000px) {

  .login-img,
  .signup-img {
    display: none;
  }
}
.searchbtn{
  background: #fff;
    color: #525FE1;
    border: 2px solid #525FE1;
    padding: 6px 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer; 
     font-size: 1em;
     margin-top: 0px;
    /* float: left;*/
}
.searchbar button:hover {
  background: #4f81d0;
  background-image: -webkit-linear-gradient(top, #534fd0, #1073ad);
  background-image: -moz-linear-gradient(top, #534fd0, #1073ad);
  color: white
}

.no-user{
    position: relative;
    font-size: 1.2rem;
}
.no-user a{
  margin-left: 1px;
  font-family: "Poppins";
  color: "rgb(110, 78, 217)"
}
.create{
  background: #fff;
  border-radius: 10px;
  padding: 50px;
  padding-top: 15px;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
  font-family: "Poppins";
}
.create .title , .create .author{
  display: flex;
  align-items: baseline;

 } 
.create input{
  width:20vw;
  height: 2.5vw;
  /* margin-left: 20px; */
  margin: 10px;
  border: 1.5px solid;
  font-size: 1.1rem;
}
.create button{
  width: 150px;
  /* margin-left: 10vw; */
}
.create h2{
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  color:#525FE1;
  margin-top: 0px;

}
.create .form-btn{
  margin: 0px;
  display: flex;
  justify-content: center;
  left: 0;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(110, 78, 217);
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Poppins";
  margin-top: 8px;
  position: fixed;
  bottom: 0;
  left:0;
  right:0;

}
/* bg-blue-500 h-screen w-screen grid grid-flow-col grid-cols-6 p-0 fixed */
.landing{
  background-color: #e1e7ee;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins";
}
.landing img{
  height: 100vh;
  right: 0;
}
.landing .text{
  width: 50vh;
  margin: 100px;
}
.landing button{
  width: 200px;
  height: 40px;
  background-color: rgb(110, 78, 217);
  border-radius: 6%;
  color: white;
  font-size: 18px;
}